{% extends 'base.html.twig' %}

{% block title %}Edit Relais{% endblock %}

{% block body %}
    <h1>Edit Relais</h1>

    {{ include('relais/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning" href="{{ path('app_relais_index') }}">back to list</a>

    {{ include('relais/_delete_form.html.twig') }}
{% endblock %}
