{% extends 'base.html.twig' %}

{% block title %}New Relais
{% endblock %}

{% block body %}
	<h1>Create new Relais</h1>

	{{ include('relais/_form.html.twig') }}

	<a href="{{ path('app_relais_index') }}" class="btn btn-warning">
		<i class="fa fa-arrow-left"></i>
	</a>
{% endblock %}
